<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<!--      layout:decorate="~{/ac/ac002/ac002}">-->

<!--<script layout:fragment="script" type="text/javascript" th:src="@{/assets/js/ac/ac002/ac002.js}"></script>-->
<th:block layout:fragment="pageCustomScript">
    <script th:inline="javascript" th:src="@{/js/acd/sts/main.js}"></script>
</th:block>
<th:block layout:fragment="pageCustomCss">

</th:block>

<th:block layout:fragment="content">

</th:block>
</html>
